 <div>  
    <label>User:</label>  
        <select [(ngModel)]="users.id" (onModelChange)="getuserdetails(users.id)">
            <option>--select--</option>
            <option *ngFor = "let user of users">{{user.id}}</option>
        </select>  

        <div *ngIf="users.id">  
            <h5>You have selected: {{users.id}}  </h5>  
        </div> 
    </div> 
    
    <div>  
        <h4>User Details:</h4>  
        <table class="TFtable">  
        <tr >   
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>  
        </tr>  
         <tr  *ngFor="let user of userdatails">  
            <td>{{user.email}}</td>  
            <td>{{user.first_name}}</td>  
            <td>{{user.last_name}}</td>  
        </tr>  
          
        </table>  
        </div>  

    

