<body>
<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="navbar-toggler-icon" ></div>
        <div class="col text-center" style="color: white;">Bills</div>   
    </nav>
        <div class="container">
            <div class="row">
            <div class="col-sm-4 text-primary">Upcoming</div>
            <div class="col-sm-4  text-primary">Pay</div>
            <div class="col-sm-4  text-primary">History</div>
        </div> 
        </div>   
        <div class="dropdown-divider"></div>
</header>
<section>
    <div class="container">
        <div class="col-sm-12 d-md-none d-lg-block text-center">
            <p>Next 30 days</p>
            <div class="display-4 text-danger">$1214.00</div>
            <div>Total Amount Due</div>
            <div><h6>05</h6></div>
            <div>Bills</div>
            <div>Low balance</div>
        </div> 
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-none d-md-block d-lg-none text-center">
                dhfhdjhfdhihifdf
            </div>
        </div>
    </div>

    <div class="text-center">
        <span class="rounded border border-dark bg-info ">Due(2)</span>
         <span class="rounded border border-dark  share">shared(1)</span>
         <span class="rounded border border-dark sche ">scheduled(1)</span>
        <span class="rounded border border-dark cast">forecast(1)</span >
    </div>

    <div class="container">
            <div class="col-sm-12 text-center">
                <div class="card border-secondary  mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-secondary">
                      <h5 class="card-title">Secondary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>               
            </div>

            <div class="col-sm-12 justify-content-center">
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-secondary">
                      <h5 class="card-title">Secondary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  
            </div>
    </div>
</section>
</body>