span {
    display: inline-block;
    width: 60px;
    height: 40px;
    margin: 6px;
    border-color: 2px black;
    font-size: 12px;
    background-color:white;
}
.share {
    display: inline-block;
    width: 70px;
    height: 40px;
    margin: 6px;
    border: 2px black;
    background-color:white;
    text-align: center;
}
.sche {
    display: inline-block;
    width: 75px;
    height: 40px;
    margin: 6px;
    border: 2px black;
    background-color:white;
}
.cast {
    display: inline-block;
    width: 85px;
    height: 40px;
    margin: 6px;
    border: 2px black;
    background-color:white;
}