<header>
<div class ="bgimage">
  <img src="assets/images/Banner.png">
    <div class="logo">
        <p class="title">Apps Market</p>
    </div>
  <div>
      <nav>
      <ul>
      <li>Home</li>
      <li>Service Us</li>
      <li>Why Us</li>
      <li>Our Goals</li>
      <li>Our Portfollo</li>
      <li>Our Client</li>
      <li><a>Contact Us</a></li>
     </ul>
       </nav>
         </div>

         <div class="sub-title">
            We Create Applicaton <br>
             With Excellent Technology          
            </div>
              <p class="content">It is a long established fact that a reader will be distracted by<br>
                    the readable content of a page when looking at its layout.<br>
                    The point of using Lorem Ipsum is that it has a more-or-less<br>
                    normal distribution of letters, as opposed to using 'Content<br>
                 </p>
                   <div class="rectangler">
                      <button class="btn" ></button>
                    </div>
                    <span class="explore">Explore More</span>


                     <div class="iphone">
                       <div class="iphone1"></div>
                       <div class="iphone2"></div>
                       <div class="iphone3"></div>
                     </div>   
                  </div>
             </header>
<!-- header ends here -->

<!-- section start here -->

<section class="service">
  <h3 class="section-title">We provide various kind of <br>
                                 service for you</h3>
  <p class="section-sub-title">It is a long established fact that a reader will be distracted by the readable<br>
         content of a page when looking at its layout. The point of using Lorem </p>
</section>
<!-- service end here -->
<section class="why-us">
   <h2>Why us</h2>
     <p class="why-content">
      It is a long established fact that a reader will be distracted by the readable<br>
      &nbsp;content of a page when looking at its layout. The point of using Lorem &nbsp;
     </p>

     <div class="blue-rectangle">
       <div class="ellipse">

       </div>
     </div>
     <div class="blue-image"></div>
     <div class="why-title">
      Built The App That Everyone Love.
     </div>
     <p class="why-text">
      It is a long established fact that a reader will be distracted by the readable<br>
       content of a page when looking at its layout. The point of using Lorem Ipsum <br>
       is that it has a more-or-less normal distribution of letters, as opposed to <br>
       using 'Content here, content here', making it look like readable English.<br>
       <br> 
       Many desktop publishing packages and web page editors now use Lorem Ipsum 
       as their default model text, and a search for 'lorem ipsum' will uncover 
       </p>

       <div class="more"> 
         <div class="get">Get More</div>
       </div>
 
</section>
<!-- why-us ends here -->

<!-- completeed projects starts here -->


 <section class="projects">
   <div class="project-space">
   <div class="project-title">
      <h3>we completed 1200+ projects yearly<br>
       &nbsp;&nbsp;successfully & counting&nbsp;&nbsp;</h3>
       <p class="project-content">It is a long established fact that a reader will be distracted by the readable<br>
                                   &nbsp;&nbsp;It is a long established fact that&nbsp;&nbsp;&nbsp; </p>
   </div>

   <div class="prj-comp">
     <div class="circle-img">
       <span class="prj-num">100+</span>
       <span class="prj-com">ProjectsComplete</span>
     </div>
   </div>

  <div class="act-back">
   <div class="act-img">
     <div class="act-num">
             100+<br>
             <span class="act-prj">ActiveProjects </span>
     </div>
      
   </div>
  </div>
 

 <div class="client">
   <div class="client-img">
     <div class="client-num">
             90+<br>
             <span class="client-sat">ClientSatisfied</span>
     </div>
   </div>
 </div>

 <div class="country">
  <div class="country-img">
    <div class="country-num">
            56+<br>
            <span class="country-sat">CountryAvailable</span>
      </div>
    </div>
  </div>
</div>
</section>
 <!-- completed project ends here -->

<!--  portfolio starts here -->

<section class="portfolio">
  <div class="port-title">
      <h3> Our Portfolio</h3>
       <p class="port-content">It is a long established fact that a reader will be distracted by the readable <br>
               content of a page when looking at its layout. The point of using Lorem </p> 
</div>

   <div class="wellcome">
     <img src="assets/images/iPhone.png" width="583" height="929">
   </div>
    <div class="plan">
    <img src="assets/images/iPhone3.png" width= "578" height="929">
   </div>
   
   <div class="trip">
     <img src="assets/images/iPhone1.png" width= "578" height="929">
   </div>
   <div class="trip1">
    <img src="assets/images/iPhone1.png" width= "578" height="929">
   </div> 
</section>

<!-- portfolio ends here -->

<!-- feedback start here -->
<div class="feedback-back">
 <div class="feedback">
  <h3>our clients feedback</h3>
  <p class="feedback-content">
    It is a long established fact that a reader will be distracted by the readable <br>
               content of a page when looking at its layout. The point of using Lorem</p>
  <div class="more1">
    <div class="feed">Read More</div>
  </div>
  <div class="guy-img">
    <img src="assets/images/guy.png" width= "482" height = "547">
    <div class="img-back">
       <img  class="stars"  src="assets/images/star.svg" width="50" height="50">
       <img  class="stars1"  src="assets/images/star.svg" width="50" height="50">
       <img  class="stars2"  src="assets/images/star.svg" width="50" height="50">
       <img  class="stars3"  src="assets/images/star.svg" width="50" height="50">
       <img  class="stars4"  src="assets/images/star.svg" width="50" height="50">

      <p class="img-text" >"Sed ut perspiciatis unde omnis iste natus error sit<br>
          voluptatem accusantium doloremque<br>
          laudantium,<br>
          totam rem aperiam, eaque ipsa quae ab illo modi tem."</p>

          <strong class="riad">Riad Islam</strong>
          <p class="designation">productmanager.@pixbay</p>
    </div>
  </div>
</div>

<!-- feedback ends here -->

<!-- footer starts here -->

<footer class="footer-back">
  <div class="contact-details">
    <span class="footer-title">contact us!</span>
    <p class="footer-content">There are many variations of passages of Lorem Ipsum<br> 
    but the majority have suffered alteration.</p>
    </div>
    <form>
    </form> 

    <div class="footer-color">
    </div>
    <span class="footer-name">Pixbey</span>
    <div class="links">
      <strong>links</strong>
      <p style="color: #8A8A8A;">Home</p>
      <p style="color: #8A8A8A;">Pricing</p>
      <p style="color: #8A8A8A;">Download</p>
      <p style="color: #8A8A8A;">About</p>
      <p style="color: #8A8A8A;">Service</p>
    </div>
     <div class="support">
      <strong style="color:black">Support</strong>
      <p style="color: #8A8A8A;">FAQ</p>
      <p style="color: #8A8A8A;">HOW It</p>
      <p style="color: #8A8A8A;">Feature</p>
      <p style="color: #8A8A8A;">Contact</p>
      <p style="color: #8A8A8A;">Reporting</p>
    </div> 
    <div class="footer-contactus">
      <strong>ContactUs</strong>
      <p>+880 1234567</p>
      <p>youremail@gmail.com</p>
      <p>Rangpur city</p>
    </div>    
</footer>









